body {
    margin: 0;
}

.header__top {
    padding: 15px 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.header__logo {
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

nav {
    margin:  auto 0;
}


.header__nav {
    color: white;
    text-decoration: none;
}

.header__bottom {
    height: 40px;
    font-size: 18px;
}

.header__bottom-green,
.header__bottom-red {
    padding: 12px;
}

.header__bottom-green {
    background-color: #d1e7dd;
    color: #0f5132;
}

.header__bottom-red {
    background-color: #f8d7da;
    color: #842029;
}



